body{
  margin:0px;
  width: 100%;
  height: 100%;
}
.header-logo{
 width: 121px;
 height: 44px;
 padding: 0%;
margin-left: 80px; 
margin-top: 31px;
margin-bottom: 10px;

}
.header-list {
  font-size:16px;
  margin-right: 87px;
  float:right;
  margin-top:31px;
  margin-bottom: 30px;
}
.header-list li {
  list-style: none;   /*リストの番号などを消せる*/
  display: inline;    /*横並びにできる*/
  padding-left: 52px;
}
.shopimg{
  float:left ;
  width: 1273px;/*ワイヤーフレーム画像横余白に対して画像サイズ変更している*/
  margin-left: 80px;
  margin-right: 87px;
  margin-bottom: 65px;
}
.contents *{    /*  class名*で指定class全てを指定*/
  float: left;
  text-align:center;  /*テキスト中央揃え*/
  width: 1440px;
}
.about{
  line-height: 62px;
  margin:0%;
  margin-bottom:45px;
  font-size:42px
}
.about1{
  line-height: 36px;
  margin-bottom: 30px;
  font-size: 24px;
}
.about2{
  line-height: 29px;
  letter-spacing: 0.05em;
  margin-bottom: 75px;
  font-size: 16px;
}
.concept{
  line-height: 36px;
  margin:0%;
  margin-bottom: 14px;
  font-size: 24px;


}
.concept1{
  line-height: 36px;
  letter-spacing: 0.05em;
  margin-bottom: 14px;
  font-size: 20px;
}

.concept2{    /*左寄せのまま中央揃えは親要素と子要素で分けてあげる(親要素）*/
  line-height: 29px;
  letter-spacing: 0.05em;
  margin-bottom: 75px;
  font-size: 16px;
  float: left;
  text-align:center;  /*中央揃えとして反映される*/
  width: 1440px;
}
ol{   /*左寄せのまま中央揃えは親要素と子要素で分けてあげる(子要素）*/
  display: inline-block; /*text-alignの影響も受ける*/ 
  text-align: left; /**/
}
.staff{
  line-height: 36px;
  float: left;
  font-size: 24px;
  float: left;
  text-align:center;
  width: 1440px;
  margin:0%;
  margin-bottom: 60px;

}
.staffimg{
  float: left;
  width: 129px;
  height:134px;
  margin-left: 461px;
  margin-bottom: 38px;

}
.staff1{
  float: left;
  font-size: 16px;
  margin-left: 75px;
  margin-bottom: 30px;
}
.staff1 ul{
  list-style: none; 
  line-height:29px;
  letter-spacing: 0.05em;
  margin:0%;
  padding:0%;
}

.staff2{
  line-height: 29px;
  letter-spacing: 0.05em;
  font-size: 16px;
  width: 1440px;
  text-align: center;
  float:left;
  padding-bottom: 110px;
}
.comment{
  display: inline-block;
  text-align: left;
}


